<h1>Add new data below</h1>

<form action="/" method="POST">
    <label for="name">Name <input type="text" name="name"> </label>
    <label for="answer">Answer <input type="text" name="answer"> </label>
    <label for="survey">Survey <input type="number" name="survey"> </label>
    <input type="submit" class="btn">
</form>